body {
    background-color: #a50000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-family: cursive;
    color: gold;
    font-size: 40px;
}

.blank{
    background-color: white;
    height: 31.25px;
    width: 31.25px;
}

#resizeBtn {
    width: 500px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 30px;
    background-color: gray;
}

#container {
    background-color: gray;
    height: 500px;
    width: 500px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

#tools {
    width: 500px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: stretch;
}

.btn {
    border-radius: 10px;
    width: 110px;
    height: 50px;
    font-size: 20px;
}